<div class="patent-main">
  <div class="back-bg">
    <section id="dg-container" class="dg-container">
        <div class="dg-wrapper">
          <div class="dg-item" style="z-index: 999">
            <div class="chart-map"></div>
            <div class="dg-title">1</div>
            <div class="dg-content">
              <span>总数：<span class="color-s">4</span></span>
            </div>
          </div>
          <div class="dg-item" style="z-index: 989">
            <div class="chart-map"></div>
            <div class="dg-title">2</div>
            <div class="dg-content">
              <span>总数：<span class="color-s">3</span></span>
              <span>到账总额：<span class="color-s">2</span></span>
            </div>
          </div>
          <div class="dg-item" style="z-index: 979">
            <div class="chart-map"></div>
            <div class="dg-title">3</div>
            <div class="dg-content">
              <span>总数：<span class="color-s">1</span></span>
            </div>
          </div>
          <div class="dg-item" style="z-index: 979">
            <div class="chart-map"></div>
            <div class="dg-title">4</div>
            <div class="dg-content">
              <span>总数：<span class="color-s">4</span></span>
            </div>
          </div>
          <div class="dg-item" style="z-index: 979">
            <div class="chart-map"></div>
            <div class="dg-title">5</div>
            <div class="dg-content">
              <span>总数：<span class="color-s">5</span></span>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>