.fab-button {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}
.task-lists {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #ff0000;
    app-task-list {
        border: 1px solid #dddddd;
        margin-right: 10px;
    }
}
.list-container {
    flex: 0 0 360px;
}